@font-face {
  font-family: Century-Gothic;
  src: url(../fonts/Century-Gothic.ttf);
}
.purple-bg {
  background: #433092;
}
body {
  font-family: Century-Gothic;
}
header a {
  text-decoration: none!important;
}
header nav a {
  color: #231f20;
}
header .drop-list {
  width: 100%;
  position: relative;
  flex-direction: row;
  margin: 0;
  padding-top: 15px;
}
header ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
header ul li {
  padding: 10px 10px 20px;
  margin-right: 15px;
}
header .menu-item-container {
  border-radius: 15px 15px 0 0;
}
header .drop-container {
  display: none;
  z-index: 9999;
}
header .menu-item-container:hover {
  background: #433092;
}
header .menu-item-container:hover a {
  color: #fff!important;
}
header .menu-item-container:hover .drop-container {
  display: block;
}
header .menu-item {
  font-size: 20px;
  color: #231f20 !important;
}
@media screen and (min-width: 1500px) {
  header .menu-item {
    font-size: 24px;
  }
}
header .drop-container {
  background: #433092;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 60px 0;
}
header .drop-container .h2 {
  font-size: 24px;
  margin: 0;
  padding-bottom: 30px;
}
header .drop-container ul {
  padding-bottom: 30px;
}
header .drop-container li {
  margin-bottom: 3px;
}
header .drop-container a {
  color: #fff;
}
header .header-middle {
  align-items: center;
}
header .header-middle .form-group {
  margin: 0;
  position: relative;
}
header .header-middle input {
  height: 50px;
  border-radius: 50px;
  border: 2px solid #433092 !important;
  outline: none;
  box-shadow: none!important;
}
header .header-middle .header-search-icon {
  position: absolute;
  top: 0px;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #300878 url(../images/search.png) no-repeat center;
  background-size: 100%;
  border: none;
  padding: 0;
  cursor: pointer;
}
header .header-middle .icons a {
  display: inline-block;
  border-radius: 100%;
  margin: 0 14px;
  position: relative;
  width: 50px;
  height: 50px;
}
header .header-middle .icons a span {
  display: block;
  text-align: center;
  width: 24px;
  height: 24px;
  font-size: 14px;
  font-weight: bold;
  padding-top: 1px;
  border-radius: 100%;
  color: #433092;
  background: #2ebcae;
  position: absolute;
  top: 34px;
  right: 0px;
}
section.main {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section.main .h2 {
  color: #fff;
  font-size: 90px;
  font-weight: 800;
}
section.main p {
  color: #fff;
  font-size: 50px;
}
section.main .row {
  height: 470px;
  align-items: center;
}
@media screen and (min-width: 1500px) {
  section.main .row {
    height: 647px;
  }
}
section.main .green-button {
  max-width: 350px;
  padding: 20px 10px;
}
.green-button {
  display: block;
  background: #2ebcae;
  border-radius: 50px;
  color: #fff!important;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  text-decoration: none!important;
}
@media screen and (max-width: 1440px) {
  .green-button {
    font-size: 1rem;
  }
}
.product-item .button-container .dropdown {
  display: block;
  float: left;
  width: 40%;
  margin-right: 5%;
}
.product-item .button-container .green-button {
  display: block;
  float: left;
  width: 55%;
}
.product-item .green-button {
  line-height: 38px;
}
.product-item p.name {
  font-weight: 600;
  margin: 0;
  padding: 10px;
}
.product-item p.price .old {
  text-decoration: line-through;
  color: #808285;
}
.dropdown-btn {
  display: block;
  text-align: center;
  line-height: 36px;
  border: 1px solid #433092;
  color: #433092;
  border-radius: 50px;
  text-decoration: none;
  position: relative;
  background: #fff;
}
.dropdown-btn.active {
  background: #433092;
  color: #fff!important;
}
.dropdown-item {
  padding: 4px 0;
  background: #fff;
}
.dropdown-menu {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  transform: none!important;
  top: 40%!important;
  padding-top: 24px;
  padding-bottom: 0;
  border: 1px solid #433092;
  border-top: none;
  text-align: center;
  background: none!important;
}
section.popular .h2 {
  color: #433092;
  font-size: 44px;
  font-weight: 800;
  margin: 0;
  padding: 40px;
}
section.popular .h3 {
  color: #ee2450;
  text-decoration: underline;
  font-size: 38px;
  font-weight: 600;
  margin: 0;
  padding: 30px;
}
section.popular .product-item {
  margin-bottom: 30px;
}
.carousel-control-prev,
.carousel-control-next {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  padding: 15px;
  background: #ebedec;
  text-align: center;
  top: 45%;
}
footer {
  background: #2ebcae;
}
footer .row {
  padding: 50px;
  margin: 0;
}
.footer-bottom {
  background-color: rgb(0, 176, 164);
}
.footer-bottom p {
  color: #fff;
  font-size: 14px;
  margin: 0;
  padding: 10px;
}
footer .row p {
  font-size: 20px;
  color: #fff;
}
footer p.social a {
  display: inline-block;
  width: 60px;
}
footer p.social a:not(:last-child) {
  margin-right: 12px;
  margin-bottom: 12px;
}
@media screen and (max-width: 767px) {
  footer p.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .row {
    padding: 50px 15px 0;
  }
  footer p {
    font-size: 1rem;
  }
}
.breadcrumb {
  background: none;
  padding: 30px 10px 60px 10px;
}
.breadcrumb * {
  color: #3e80b0!important;
  font-weight: 600;
  text-decoration: underline;
  font-size: 20px;
}
.filter-button {
  font-size: 1rem;
  font-weight: 600;
  color: #433092 !important;
  text-decoration: none!important;
}
.checkbox {
  margin: 10px 0;
  display: block;
}
.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.checkbox__text {
  position: relative;
  padding: 0 0 0 60px;
  cursor: pointer;
  color: #433092;
}
.checkbox__text .before {
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #fff;
  border: 2px solid #433092;
  transition: .2s;
}
.checkbox__text:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #433092;
  transition: .2s;
}
.checkbox input:checked + .checkbox__text .before {
  background: #2ebcae;
}

.checkbox-red input:checked + .checkbox__text .before {
  background: red;
}
.checkbox input:checked + .checkbox__text:after {
  left: 26px;
}
.filter-button {
  position: relative;
  display: block;
}
.filter-button:before {
  content: ">";
  position: absolute;
  right: 20px;
  top: 4px;
  transform: rotate(90deg);
  font-weight: 900;
}
.filter-button.active:before {
  transform: rotate(-90deg);
}
section.catalog .filter .item {
  padding-bottom: 20px;
}
section.catalog .filter .dropdown-btn {
  line-height: 1.3em!important;
  text-decoration: none!important;
}
section.catalog .filter .dropdown-item {
  padding: 0!important;
}
section.catalog .product-item {
  margin-bottom: 50px;
}
section.detail .h3 {
  font-weight: 800;
}
section.detail .carousel-inner {
  width: 70%;
  float: left;
  margin-left: 12%;
}
section.detail .carousel-indicators {
  width: 100%;
  margin: 0;
  display: block;
  position: static;
  float: left;
}
section.detail .carousel-indicators li {
  width: 100%;
  display: block;
  height: auto;
  margin: 0 0 10px 0;
  border: none;
}
section.detail .carousel-indicators li img {
  display: block;
}
section.detail .reviews {
  font-size: 14px;
}
section.detail .reviews a {
  position: relative;
  top: 4px;
  color: #433092;
  margin-right: 6px;
}
section.detail .icons {
  width: 18px;
  display: inline-block;
}
section.detail .line {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}
section.detail .price {
  display: inline-block;
  background: #f8f4f1;
  border-radius: 50px;
  padding: 14px 60px;
  font-size: 14px;
  font-weight: 800;
  color: #ee2450;
}
section.detail .price .old {
  position: relative;
  left: -20px;
  font-weight: 400;
  text-decoration: line-through;
  color: #878787;
  font-size: 16px;
}
section.detail .description .dropdown {
  width: 100%;
  max-width: 100px;
  display: inline-block;
}
section.detail .description .dropdown:not(:last-child) {
  margin-right: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  section.detail .description .dropdown:not(:last-child) {
    margin-right: 10px;
  }
}
section.detail .description .dropdown .dropdown-btn {
  border: 2px solid #433092;
  text-decoration: none!important;
}
section.detail .green-button {
  display: inline-block;
  padding: 10px 26px;
  font-size: 24px;
}
section.detail .line span {
  color: #888888;
  width: 100%;
  margin-bottom: 18px;
}
section.detail .line.purple {
  color: #433092;
}
section.detail .line.purple a {
  color: #433092;
}
section.detail .line.point {
  background: url("../images/point.png") repeat-x bottom;
}
section.detail .line.point span {
  background: #fff;
  float: left;
}
section.detail .line.point span.purple {
  float: right;
  color: #433092;
}
section.detail .h4 {
  font-size: 24px;
  color: #433092;
  font-weight: 800;
  margin: 30px 0;
}
section.detail .desc .line {
  margin-bottom: 20px;
}
.evaluare {
  width: 100px;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}
.evaluare .negativ {
  width: 150px;
}
.evaluare .negativ img {
  width: 150px;
}
.evaluare .positiv {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.evaluare .positiv img {
  width: 150px;
}
section.all .h4 {
  font-size: 24px;
  color: #433092;
  font-weight: 800;
  margin: 30px 0;
}
section.all .slide {
  margin: 30px 0;
}
.evaluare-container {
  padding: 50px 50px 50px 70px;
  border: 1px solid #433092;
  border-radius: 100px;
  margin: 20px 0;
}
.evaluare-container .progress-line {
  width: 80%;
  display: inline-block;
  border: 1px solid #433092;
  height: 6px;
  border-radius: 50px;
  margin: 0 5px;
}
.evaluare-container .progress-line .value {
  height: 4px;
  background: #f8ab2b;
}
.evaluare-container .evaluare-line {
  margin-bottom: 8px;
  color: #433092;
}
.evaluare-container .rating {
  font-size: 40px;
  font-weight: 800;
  color: #433092;
  text-align: center;
}
.evaluare-container .evaluare {
  margin: 20px 0;
}
.evaluare-container .evaluare-link {
  color: #433092 !important;
  text-decoration: underline;
  font-size: 14px;
}
.present {
  color: #433092;
  margin: 60px 0;
}
.reviews-item {
  margin: 40px 0;
  padding-bottom: 30px;
  border-bottom: 2px solid #f2f2f2;
}
.reviews-item .img-container {
  border-radius: 100%;
  height: 150px;
  width: 150px;
  overflow: hidden;
  margin: 14px auto 0;
}
.reviews-item .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reviews-item .name span {
  margin-left: 30px;
}
.reviews-item .h4 {
  display: inline-block;
}
.reviews-item p {
  margin-top: 30px;
  color: #433092;
  font-size: 18px;
}
@media (max-width: 1919px) {
  .reviews-item p {
    font-size: 1rem;
  }
  section.all .h4 {
    font-size: 20px;
  }
}
@media (max-width: 1200px) {
  .header-middle form {
    margin: 30px 0;
  }
  .detail .description .dropdown {
    margin-bottom: 10px;
  }
}
.social-menu.disable {
  height: 50px;
  overflow: hidden;
  width: 50px;
  top: auto;
  bottom: 20px;
  opacity: .5;
}

.social-menu.disable:hover,
.social-menu.disable:focus {
  opacity: 1;
}
.social-menu.disable .cross-icon .close {
  display: none;
}
.social-menu.disable .cross-icon .open {
  display: block;
}
.social-menu {
  position: fixed;
  bottom: 20px;
  right: 15px;
  border-radius: 38px;
  padding: 0px 0;
  background: rgba(255, 255, 255, 0.4);
  width: 217px;
  padding: 0 6px;
  z-index: 999999;
}
.social-menu a {
  width: 50px;
  display: inline-block;
  margin: 10px 7px;
}
.social-menu .cross-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: #433092;
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.social-menu .cross-icon .open {
  display: none;
}
.cart.posAbs {
  position: fixed!important;
  top: 40px;
  right: 0;
  box-shadow: 0 0 8px #fff;
  z-index: 9999;
}
@media screen and (max-width: 991px) {
  .cart.posAbs {
    top: 20px;
    right: 0;
  }
}
.cart.posAbs span {
  box-shadow: 0 0 8px #fff;
}
.bx-wrapper {
  width: 100%!important;
  max-width: 100%!important;
  overflow-y: visible!important;
  background: none!important;
  border: none!important;
  box-shadow: none!important;
  margin: 0!important;
}
.bx-viewport {
  padding-bottom: 50px;
}
.catalog-aside {
  min-width: 235px;
}

@media screen and (max-width: 1199px) {
  .product-item .button-container .dropdown {
    width: 100%;
    margin-bottom: 10px;
  }
  .product-item .button-container .green-button {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .nav-right {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 991px) {
  .footer-phone {
    order: 1;
  }
}
@media screen and (max-width: 767px) {
  .header-search {
    order: 3;
    width: 100%;
    flex-basis: inherit;
  }

  .header-middle {
    justify-content: space-between;
    padding-top: 15px;
  }
}
.bx-wrapper .bx-controls-direction a {
  top: 38%!important;
  width: 45px!important;
  height: 45px!important;
}
.bx-wrapper .bx-controls-direction a:first-child {
  background: url(../images/icons-png/left.png) no-repeat center;
  left: 0;
  background-size: contain;
}
.bx-wrapper .bx-controls-direction a:last-child {
  background: url(../images/icons-png/right.png) no-repeat center;
  background-size: contain;
  right: 0;
}
.header-map-icon {
  width: 16px;
  margin-right: 10px;
  vertical-align: bottom;
}
@media screen and (max-width: 1919px) {
  header .menu-item {
    font-size: 18px;
  }
  section.popular .h3 {
    font-size: 26px;
  }
  footer .row p {
    font-size: 1rem;
  }
  section.main p {
    font-size: 36px;
  }
  section.main .h2 {
    font-size: 74px;
  }
}
@media screen and (max-width: 1919px) {
  .breadcrumb * {
    font-size: 1rem;
  }
  section.detail .h3 {
    font-size: 1.25rem;
  }
  section.detail .green-button {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1439px) {
  section.popular .h2 {
    font-size: 26px;
    padding-bottom: 20px;
  }
  section.popular .h3 {
    font-size: 20px
  }
}
.dropdown-size:hover .dropdown-menu {
  display: block;
}
.dropdown-size p {
  background: #fff;
  margin: 0;
}
.dropdown-menu {
  overflow: hidden;
}
.btn-carousel {
  background: url(../images/right.png) no-repeat center;
  background-size: contain;
  height: 30px;
  width: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn-carousel.up {
  margin-bottom: 20px;
  transform: rotate(270deg);
}
.btn-carousel.down {
  margin-top: 20px;
  transform: rotate(90deg);
}
.carousel-navi {
  display: flex;
  flex-direction: column;
  width: 10%;
}
#carouselExampleIndicators {
  display: flex;
}
.evaluare-star {
  background: url(../images/star.png) no-repeat center;
  background-size: contain;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
input[name="star"] {
  display: none;
}
.evaluare-star:hover,
.evaluare-star:focus,
.evaluare-star:hover ~ .evaluare-star,
.evaluare-star:focus ~ .evaluare-star,
input:checked ~ label {
  background-image: url(../images/star_checked.png);
}

.text-center .stars {
  margin: auto;
}

.stars {
  width: 135px;
  background: url(../images/star.png);
  background-size: contain;
  height: 25px;
  position: relative;
}

.stars .positiv {
  background: url(../images/star_checked.png);
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 22;
  height: 25px;
}

.owl-nav {
  position: absolute;
  top: 38%;
  left: 0;
  display: flex !important;
  justify-content: space-between;
  width: 100%;
}
.owl-nav button {
  display: block;
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
}

.owl-prev {
  background-image: url(../images/icons-png/left.png);
}
.owl-next {
  background-image: url(../images/icons-png/right.png);
}